*{
	margin: 0;
	padding: 0;
	padding-top: 0;
}

header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
	height: 100vh;
	background-size: cover;
	background-position: center;

}

.main-nav{
	float: right;
	list-style: none;
	margin-top: 30px;
	position: relative;



	
}


.main-nav li{
	display: inline-block;
	font-size: 16px;

	
}
.main-nav li a {
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Trebuchet MS"
	
}

.main-nav li.active a{
	border: 1px solid white;
}

.main-nav li a:hover{
	border: 1px solid white;

}



body{
	font-family: Georgia;
}

.row{
	max-width: 1200px;
	margin: auto;
}
.hero{
	position: absolute;
	width: 1200px;
	left: 118px;
	height: 1px;
	top: 70px;


}
h1{
	color: white;
	text-transform: uppercase;
	font-size: 80px;
	text-align: center;
	margin-top: 250px;
	text-shadow: 1px 2px black;
	font-family: Bangers;
	
}



 
.main-nav ul{
	position: absolute;
	left: 0px;
	right: 0px;
	display: none;

}


.main-nav li:hover ul{
	display: block;
	
	

}

.drop li{
	display: block;
	right: 0px;
	left: 90px;
	position: relative;
	padding-top: 17px;
	
}

.tops ul li{
	float: center;
	list-style: none;
	margin-top: 30px;
	position: relative;
	




}

.tops ul li a:hover{
	border: 1px solid white;

}


.tops li{
	display: block;
	font-size: 16px;
	text-align: center;
	
	
}

.tops ul li a{
	color: white;
	text-decoration: none;

}

.section td{
	margin-top: 100px;
	color: black;
	font-size: 50px;
	font-family: Lora;
}

.section table{
	margin-top: 100px;
	margin-left: 200px;

}

.section table tr td img{
	margin-left: 350px;
	margin-right: 200px;
	margin-bottom: 10px;
	width: 350px;
	height:200px;
}


.section table tr td p{
	font-size:22px;
	font-family: monospace;
	margin-top: 30px;
	word-spacing: 2px;
	line-height: 40px;
	margin-right: 180px;
	text-align: justify;
	margin-bottom: 150px;
}

.section table tr td{

} 
body{
	background-color: white;
}

